.vertical-menu {
    width: 200px;
}

.vertical-menu p {

    color: white;
    background-color: #33cc33;
    position: fixed;
    top: 85px;
    left: 250px;
    bottom: 55px;;
}

.ping{
  border-style: none;
  text-align: center;
  padding-bottom: 20px;
  background-color:#ffcc66;
  }

body{
  background-color: #ccccff;
  }
.ping1{
  padding-left: 380px;
}
.frm1{
  padding-left: 20px;
}
.form-group{
  padding-left: 380px;

}
#display{
  padding-left: 580px;
}
.result{

  padding-left: 580px;
}
